<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1> LOL RANKING </h1>
    <p> Please input a user you would like to know about. </p>
    <form action="/search">
        <p>
        LOL STAT  <input type="text" name="userName"/ > <br/>
        <input type="submit" value="OP.GG SEARCH"/>
        </p>
    </form>
</body>
</html>