<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1> Lottery Numbers Recommendation</h1>
    <p> Your number for today lottery is  </p>
    <p><%=@numbers%></p>
    <p><%=(1..45).to_a.sample(6 )%></p>
</body>
</html>