<!DOCTYPE html>
<html>
<head>
    
</head>
<body>
    <h1> Lunch Menu Recommendation</h1>
    <p> Your menu for today lunch is  </p>
    <p><%=@menu%></p>
    <img src="<%=@pictures[@menu]%>" >
</body>
</html>